doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "ADD DESCRIPTION")      
    meta(name = "author" content = "Jeffrey Shen")
    title ADD TITLE
    //- link(rel="icon" type="image/png" href="/assets/graphics/favicon.png")
    //- link(href='bower_components/font-awesome/css/all.min.css', rel='stylesheet', type='text/css')
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="")
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="")
    link(href='bower_components/bulma/css/bulma.min.css', rel='stylesheet', type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body 
    header 
      .text 
        h1 Title Goes Here
        p.is-size-4 Incididunt magna labore sint proident fugiat exercitation ad consectetur ea proident ea.
    .container
      #scrolling-vis.columns.is-variable.is-6
        #vis.column 
          #map
        #sections.column.is-narrow
          section.step Take Kansas City, Missouri for example. 
          section.step These are the municipal boundaries.
          section.step In 2012, Kansas City <a href = "https://www.shotspotter.com/news/gunfire-down-26-percent-in-kansas-city-areas-covered-by-shotspotter-following-transit-police-partner/">partnered</a> with ShotSpotter to monitor 3.55 square miles of the city—around 1% of the city's total area. This partnership <a href ="https://www.smartcitiesdive.com/news/reckoning-with-shotspotters-ambiguous-roi/595417/">costs</a> the city around $200,000 annually. 
        
    script(src="https://d3js.org/d3.v5.js")
    script(src = "/dist/JS/scroller.js")
    script(src = "/dist/JS/main.js")
