doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "ADD DESCRIPTION")      
    meta(name = "author" content = "Jeffrey Shen")
    title ADD TITLE
    //- link(rel="icon" type="image/png" href="/assets/graphics/favicon.png")
    //- link(href='bower_components/font-awesome/css/all.min.css', rel='stylesheet', type='text/css')
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="")
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="")
    script(src="https://cdn.jsdelivr.net/npm/leaflet-transitionedicon@0.2.1/index.min.js")
    link(href='bower_components/bulma/css/bulma.min.css', rel='stylesheet', type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body 
    header 
      .text 
        h1 Title Goes Here
        p.is-size-4 Incididunt magna labore sint proident fugiat exercitation ad consectetur ea proident ea.
    .container
      #scrolling-vis.columns.is-variable.is-6
        #vis.column 
          #map
          #legend
            div
              .legend-item(style = "border: 2px solid rgba(46, 48, 48, 0.7); ") 
              span Kansas City, MO boundaries
            div
              .legend-item(style = "border: 2px solid rgba(207, 0, 15, 0.7); background-color: rgba(207, 0, 15, 0.05)") 
              span ShotSpotter coverage area (approx.)
            div(style = "display: none;")#legend-3
              .legend-item(style = "border-radius: 100%; border: 1px solid rgba(46, 48, 48, 0.5); background-color: rgba(207, 0, 15)") 
              span ShotSpotter activation
        #sections.column.is-narrow
          section.step In 2012, the Kansas City Area Transportation Authority, in partnership with police, <a href = "https://www.shotspotter.com/news/gunfire-down-26-percent-in-kansas-city-areas-covered-by-shotspotter-following-transit-police-partner/">installed</a> ShotSpotter in a 3.55 square mile section of the city (shown in red)—around 1% of the city's total area. Though the installation was initially funded by a federal grant, maintaining the ShotSpotter system now <a href ="https://www.smartcitiesdive.com/news/reckoning-with-shotspotters-ambiguous-roi/595417/">costs</a> the city around $200,000 annually. 
            p.has-text-grey.mt-2.is-size-7 ShotSpotter coverage area has been approximated based off ShotSpotter activation data as the official coverage area is not public.
          section.step Let's zoom in.
          section.step Based off data obtained by Motherboard via <a href = "https://www.muckrock.com/foi/kansas-city-331/shotspotter-data-kansas-city-police-department-111302/">public records request</a>, there have been 9,649 ShotSpotter activations between January 1, 2016 and April 1, 2021 (around 5 activations daily on average). The map shows their locations. 
          section.step These locations are anonymized to nearby intersections, so some points represent multiple ShotSpotter activations. Here, each point’s size is proportional to the number of activations at that location, to get a better sense of the scale. 
          section.step Though not all activations result in police deployments, this data suggests that ShotSpotter results in multiple deployments of armed police every day to a small area of around 16,000 people, of whom over 75% are Black.
          section.step Therefore, ShotSpotter increases the potential for deadly police violence between armed cops who believe (often falsely) that a shooter is in the area and a majority Black population. 
          section.step As the abolitionist Jackie Wang <a href = "https://mitpress.mit.edu/books/carceral-capitalism">wrote</a> about PredPol, another algorithmic technology which directs police to supposed crimes: “When the Cleveland police officer Timothy Loehmann arrived on the scene on November 22, 2014, it took him less than two seconds to fatally shoot Tamir Rice, a twelve-year-old black boy who was playing with a toy gun. This raises the question—if law enforcement officers are already too trigger-happy, will the little red boxes that mark temporary crime zones reduce the reaction time of officers while they’re in the designated boxes?”
          section.step Tragically, ShotSpotter has already resulted in the <a href = "https://thehill.com/homenews/state-watch/549612-police-technology-under-scrutiny-following-chicago-shooting">police killing</a> of Adam Toledo, a 13-year-old Hispanic cboy who was shot—with his hands in the air—five minutes after police were notified by ShotSpotter of potential gunshots in the Little Village neighborhood of Chicago.  
          //- section.step Activations are anonymized to the nearest intersection, so some intersections have multiple activations. Let's scale each intersection by the number of activations at that location. 
          //- section.step TODO: add another slide here which highlights the scale and add some analysis.
          //- section.step Based off these activations, we can approximate that ShotSpotter is deployed in this red swath. 
          //- section.step TODO
          
          
          // 9649/1936 per day on average
          // 48 highest
        
    script(src="https://d3js.org/d3.v5.js")
    script(src = "/dist/JS/scroller.js")
    script(src = "/dist/JS/main.js")
