header{
  height: 75vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  position: relative;
  background-color: #1f3a93;

  .text {
    bottom: 40px;
    left: 40px;
    transform: none;
    position: absolute;
    top: unset;
    padding-right: 40px;
    color: white;

    h1{
      margin-bottom: 8px;
      line-height: 1em;
      font-size: 3.2em;
    }
  }
}

.container{
  width: 85%;
  margin: 0 auto;
  padding: 40px 20px 0;
}

#scrolling-vis{
  #vis{
    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
    z-index: 1;
    margin-left: 0;
    height: 500px;
  }

  #sections{
    width: 450px;
  }
}

#map{
  width: 100%;
  height: 500px;
}

section.step {
  margin-bottom: 200px;

  &:first-of-type{
    margin-top: 200px;
  }

  &:last-of-type{
    margin-bottom: 200px;
  }
}
