.hidden{
  display: none;
}

header{
  height: 75vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  position: relative;
  background-color: #1f3a93;

  .text {
    bottom: 40px;
    left: 40px;
    transform: none;
    position: absolute;
    top: unset;
    padding-right: 40px;
    color: white;

    h1{
      margin-bottom: 8px;
      line-height: 1em;
      font-size: 3.2em;
    }
  }
}

.container{
  width: 85%;
  margin: 0 auto;
  padding: 40px 20px 0;
}

#scrolling-vis{
  margin-top: 60px;

  #loading{
    margin-top: 150px;
  }

  #vis{
    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
    z-index: 1;
    margin-left: 0;
    height: 500px;

    #map{
      width: 100%;
      height: 500px;

      #chloropleth-legend{
        z-index: 314159;
        position: absolute;
        bottom: 15px;
        left: 15px;
        padding: 10px;
        margin-bottom: 0;
      }

      path{
        transition: 0.3s all;
      }
    }

    #legend{
      margin-top: 10px;
      font-size: 13px;

      div{
        display: inline-block;
      }
    }

    .tooltip{
      visibility: hidden;
    }

    #legend, #chloropleth-legend{
      transition: 0.3s all;
    }

    .legend-item{
      width: 13px;
      height: 13px;
      margin-right: 5px;
      margin-bottom: -2px;
      display: inline-block;
    }

    span{
      margin-right: 15px
    }
  }

  #sections{
    width: 450px;
  }
}

section.step {
  margin-bottom: 200px;

  &:first-of-type{
    margin-top: 150px;
  }

  &:last-of-type{
    margin-bottom: 200px;
  }
}


@media screen and (max-width: 768px){
  .container{
    width: 95%;
    margin: 0 auto;
    padding: 40px 20px 0;
  }

  #scrolling-vis {
    #vis {
      display: block;
      top: 20px;
    }

    #sections{
      z-index: 314160;
      width: 95%;
      margin: -300px auto;
      display: block;
      top: 0;
      position: relative;

      section{
        background: white;
        padding: 10px 20px;
        visibility: hidden;
        border-radius: 5px
      }

      section.step:first-of-type{
        margin-top: 0px;
      }


      section.active{
        visibility: visible;
        box-shadow: 0 0 10px #888888;
      }
    }

    margin-bottom: 300px;
  }
}
